.text-sm{
    font-size: 0.875rem;
    line-height: calc(1.25 / .875);
}

.w-8{
    width: calc(0.25rem * 8);
}

.h-8{
    height: calc(0.25rem * 8);
}

.bg-dark-blue{
    background-color: #101727;
}