<!-- Header / Navbar -->
<div class="container">
    <mat-toolbar class="navbar navbar-expand-md p-3 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="w-8 h-8 bg-primary rounded-2 flex items-center justify-center me-2">
                <span class="text-white fw-bold text-sm p-2">AT</span>
            </div>
            <span class="fs-4 fw-bold cursor-pointer hover-text-blue-200">Akıcı Türkçe</span>
        </div>

        <!-- Auth Buttons -->
        <div class="d-md-flex space-x-2">
            <nav class="d-md-flex space-x-3">
                <a class="text-decoration-none px-2 py-2 text-black">Videos</a>
                <a class="text-decoration-none rounded-pill px-2 py-2 text-black">Dashboard</a>
            </nav>
            <button mat-stroked-button class="btn btn-default border rounded-pill px-4 py-2 me-2">Login</button>
            <button mat-flat-button class="btn btn-dark rounded-pill px-4 py-2">Sign Up</button>
        </div>
    </mat-toolbar>
</div>